################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PPcRentalProject/PPcRentalProject/obj
/PPcRentalProject/PPcRentalProject/bin
/PPcRentalProject/.vs
/.vs
